/* kenburns-bottom-right.css

@keyframes kenburns-bottom-right {
    0% {
        transform: scale(1) translate(0%, 0%);
    }
    100% {
        transform: scale(1.1) translate(20%, 20%);
    }
}

.kenburns-bottom-right {
    animation: kenburns-bottom-right 5s ease-in infinite alternate-reverse both;
}


/* kenburns-bottom-left.css */

@keyframes kenburns-bottom-left {
    0% {
        transform: scale(1) translate(0%, 0%);
    }
    100% {
        transform: scale(1.1) translate(-20%, 20%);
    }
}

.kenburns-bottom-left {
    animation: kenburns-bottom-left 5s ease-in infinite alternate-reverse both;
} 
